<form [formGroup]='formValues'>
<input type='text' formControlName='name'>Name
<input type='password' formControlName='password'>Password
<button type='submit' (click)='trap()'>BUTTON</button>
</form>
{{title}}
<router-outlet></router-outlet>